@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
    background-color: #727272;
}
image{
    font-family: 'Libre Baskerville', serif;
    -webkit-user-drag:none;
    -moz-user-drag:none;
    -khtml-user-drag:none;
    -ms-user-drag:none;

    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}
html{
    font-size: 62.5%;
}
.flex-container{
    /* border:0.2rem solid orange; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:fit-content;
    transform: translateY(25%);
    margin:1rem 0;
}
.flex-container h1{
    /* border:0.1em solid red; */
    text-align: center;
    font-size: 4rem;
    color:white;
}

header{
    
}
header img{
    width:50px;
    height:50px;
   
    object-fit:contain
}
.images img{
    border-radius: 5rem;
    width:50rem;
    height:35rem;
}
.flex-container p{
    text-align: center;
    width:20rem;
    color:white;
    font-weight:bold;
}

#newMeeting:hover,#join:hover{
    background-color: #3f69e6;
}
#newMeeting:disabled{
    background-color: gray;
}
/* #join{
    margin-left: 1rem;
}
.client-mob{
    width:15rem;
    padding:1.2rem 1.5rem;
    border-radius:1rem ;
    border:none;
    outline-color: white;
} */
.flex-container .flex-child1{
    /* border:0.1rem solid yellow; */
    
}
.flex-container .options{
    /* border:0.1rem solid red; */
    margin:1rem 0;
    display: flex;
}
.flex-container input{
    width:20rem;
    
    padding:1.2rem 1.5rem;
    border-radius:1rem ;
    border:none;
    outline-color: white;
}
.flex-container textarea{
    width: 100%;
}
.flex-container .btn{
        /* border:0.1rem solid red; */
        width:20rem;
        padding:2rem 1rem;
        /* width:30rem; */
        padding:1rem 1.5rem;
        background-color: #355dd5;
        border-radius: 1.5rem;
        color: white;
        font-size: 1.5rem;
        outline:none;
        border:none;
        cursor: pointer;
        text-transform: capitalize;
        margin-left: 1rem;
    }
@media screen and (max-width:800px){
    html{
        font-size: 55%;
    }
    .flex-container h1{
        font-size: 3rem;
    }
    .flex-container img{
        width:35rem;
        height:25rem;
    }
    .flex-container .flex-child1{
        width:85%
    }
    .flex-container .options{
        /* display:flex;
        flex-direction: column;
        align-items: center; */
        display: block;
        text-align: center;
    }
    .flex-container input{
        width:100%;
        height:8rem;
    }
    .flex-container textarea{
        width: 100%;
    }
    .flex-container .btn{
        margin-top:1rem;
        margin-left: 0;
        padding:2rem 1rem;
        font-size: 2rem;
    }
    .flex-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    height:fit-content;
    transform: none;
    }
    
}
@media screen and (max-width:300px){
    .flex-container .flex-child1{
        width:98%
    }
    
}