*{
  margin:0;
  padding:0;
}
.video-wrapper{
  width: 100vw;
  height:100vh;
  
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.video-wrapper span{
  width:25rem;
  height:20rem;
  /* background-color: black; */
}
.video-wrapper video{
  width:100%;
  height:100%;
  /* margin:0 1%; */
}
button{
  padding:1rem 4rem;
  margin:0 1rem;
  font-size: 1.2rem;
}